.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 5rem;
  font-size: calc(10px + 1vmin);
  color: white;
}

.location-input {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  input {
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: #fff 1px solid;
    border-left: #fff 1px solid;
    color: #fff;
    &:focus {
      outline: none;
      box-shadow: #fff 0 0 5px;
    }
  }
  button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #282c34;
    border: #fff 1px solid;
    color: #fff;
    cursor: pointer;
    transition: 10ms;
    &:hover {
      background-color: #fff;
      color: #282c34;
    }
  }
}
